body {
    background-color: lightgrey;
}

.navbar {
    max-height: 60px;
    color: white;
    background-color:rgb(43, 201, 201);
    padding: absolute; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

a.navbar-brand {
    max-height: 60px;
    background-color:  rgb(43, 201, 201);
    margin-left: 25px;
    margin-right: 25px;
    padding: absolute; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}


.nav-item {
    color: white;
}

.dropdown-menu {
    margin: 0;
}

.row {
    margin: 10 px
}

.container {
    margin-top: 20px;
}
.box {
    margin: 20 px
}

}.content{
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}
.content.bg-white{
    margin-top: 15px;
}

.page-footer{
    background-color: lightgrey;
    margin-top: 30px;
    align: "center";
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-copyright{
    color: white;
    border-top: 5px solid rgb(43, 201, 201);
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 15 px;
}

.thumbnail{
    padding: 12 px;
    border: none;
}

.p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 10 px;
}

@media (min-width: 0px) and (max-width: 767px) {
    /*Nav Bar Info*/
    .navbar.bg-light{
        background-color: rgb(43, 201, 201) !important;    
    }

    .navbar-collapse{
        background-color: white;
    }
    .navbar{
        padding:inherit;
    }


